html,
body {
  height: 100%;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  
}

body {                            /*백그라운드 화면색, 페딩처리(여유공간) 옵션*/
  padding-top: 0px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}

.contentmain {                      /*컴포넌트 정렬 관리*/
	display: flex;
	align-items: center;
	padding-top: 50px;
  padding-bottom: 150px;
	
}

.form-join-out {                        /*폼관련 설정 해당 값으로 전체 길이 설정*/
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: auto;
  border: 3px solid rgba(0, 0, 0, 1);
  border-radius: 12px;
}

.form-join-in {                        /*폼관련 설정 해당 값으로 전체 길이 설정*/
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: auto;
}

.form-join-in .form-radio {                 /*라디오박스 폰트 옵션*/
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.form-join-in .form-id {                 /*id항목 플로팅창,버튼 정렬 옵션*/
  display: flex;
  align-items: center;        /* 수직 중앙 정렬 */
  gap: -1px;      /* ID라벨과 버튼사이 여백 */
}

.form-join-in .form-id .form-floating{                 /*id항목 플로팅창,버튼 정렬 옵션*/
  flex-grow: 1;
}

.form-join-in .form-floating:focus-within {
  z-index: 7;
}

/*입력컴포넌트 설정*/

.form-join-in input[type="id"] {                 /*아이디 입력 플로팅라벨 옵션*/
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}

.form-join-in .form-id button {
  flex-shrink: 0; /* 버튼 크기 고정 */
  white-space: nowrap; /* 버튼 텍스트 줄바꿈 방지 */
  height: 58px; /* 버튼 높이 */
}


.form-join-in input[type="password"] {           /*비밀번호 입력 플로팅라벨 옵션*/
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form-join-in input[type="repassword"] {           /*비밀번호 확인재입력 플로팅라벨 옵션*/
  margin-bottom: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 10px;
}

.form-join-in input[type="email"] {           /*이메일 입력 플로팅라벨 옵션*/
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-join-in input[type="name"] {            /*이름 입력 플로팅라벨 옵션*/
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form-join-in input[type="dob"] {           /*생년월일 입력 플로팅라벨 옵션*/
  margin-bottom: 10px;
}

.form-join-in input[type="phone"] {           /*휴대폰번호 입력 플로팅라벨 옵션*/
  margin-bottom: 10px;
}