html,
body {
  height: 100%;
}

body {                            /*백그라운드 화면색, 페딩처리(여유공간) 옵션*/
  padding-top: 0px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  
}

.contentmain {                      /*컴포넌트 정렬 관리*/
	display: flex;
	align-items: center;
	padding-top: 50px;
  padding-bottom: 150px;
	
}

.form-add-out {                        /*폼관련 설정 해당 값으로 전체 길이 설정*/
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: auto;
  border: 3px solid rgba(0, 0, 0, 1);
  border-radius: 12px;
}

.form-add-in {                        /*폼관련 설정 해당 값으로 전체 길이 설정*/
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: auto;
}

.form-add-in .form-radio {                 /*라디오박스 폰트 옵션*/
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.form-add-in .form-id .form-floating {                 /*id항목 플로팅창,버튼 정렬 옵션*/
  display: flex;
}

.form-add-in .form-floating:focus-within {
  z-index: 7;
}

/*입력컴포넌트 설정*/


.form-add-in input[type="text"] {           /*이메일 입력 플로팅라벨 옵션*/
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-add-in input[type="number"] {           /*이메일 입력 플로팅라벨 옵션*/
  margin-bottom: -1px;
  border-top-right-radius:0;
  border-top-left-radius:0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-add-in textarea[name="description"]{
 width: 100%;
   height: 200px;
   border-top-right-radius:0;
  border-top-left-radius:0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-add-in input[type="file"] {           /*이메일 입력 플로팅라벨 옵션*/
  margin-bottom: 20px;
  border-top-right-radius:0;
  border-top-left-radius:0;

}

